APP_NAME=go-config

POSTGRES_USER=postgres
POSTGRES_PASSWORD=go-config
POSTGRES_DB=go-config

DB_URL=postgres://postgres:go-config@localhost:5432/go-config?sslmode=disable

PORT=8080
JWT_SECRET=change-me-in-production
